
.App {
  text-align: center;
  background-color: rgb(8, 7, 7);
}



.MuiGrid-root {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logoHome {
  width: 130px;
}

#demo-simple-select-standard {
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  height: 100px;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-log-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.nav-log-section div{
  margin-left: 10px;
}

.HomeGridHome {
  margin: 30px
}

.all-rooms-display {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-reservation {
  text-align: center;
}

.reservationImage img {
  width: 300px
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
